@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.forecast {
    width: 100%;
    display: grid;
    grid-gap: 10px;
  }
  
  .forecast-title {
    font-size: 24px;
    font-family: 'Pacifico', cursive; 
    color: #1D5B79; 
    margin-bottom: 7px;
  }
  .forecast-title .number {
    font-size: 34px;
    margin: 15px;
  }
  .weekly-tile {
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
    background-color: #D4E2D4;
    cursor: pointer; 
    transition: all 0.3s ease; 
  }
  
  .weekly-tile:hover {
    background-color: #f5f5f5; 
  }
  
  .weekly-tile.expanded {
    height: auto;
    padding-bottom: 20px; /* Add space at the bottom when expanded */
  }
  
  .weekly-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .icon-small {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .day {
    font-size: 16px;
    font-weight: bold;
  }
  
  .description {
    font-size: 14px;
    color: #666666;
  }
  
  .min-max {
    font-size: 14px;
    color: #666666;
  }
  
  .weekly-details {
    margin-top: 10px;
  }
  
  .daily-details-grid-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .daily-details-grid-item label {
    font-weight: bold;
    font-size: 14px;
  }
  
  .daily-details-grid-item span {
    font-size: 14px;
    color: #666666;
  }
  