.container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-tile {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #A1CCD1;
  padding: 20px;
  width: 97%;
}

.app-content {
  display: flex;
  gap: 20px;
}

.main-section {
  flex-grow: 1;
}

.search-section {
  margin-bottom: 20px;
}

.current-weather-section {
  margin-bottom: 20px;
}

.forecast-section {
  width: 33%;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .app-content {
    flex-direction: column;
  }

  .forecast-section {
    width: 100%;
  }
}
